<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.teamunemployment.breadcrumbs"
    android:versionCode="8"
    android:versionName="8.02">

    <permission android:name="com.teamunemployment.breadcrumbs.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="com.teamunemployment.breadcrumbs.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.google.android.c2dm.permission.SEND"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-feature android:name="android.hardware.camera" />

    <!-- Ensure that the map renders -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <uses-sdk
        android:minSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:name="android.support.multidex.MultiDexApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".client.Main"
            android:label="@string/app_name"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- BOOT RECIEVER -->
        <receiver android:name=".BootReciever.BootReceiver">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <!-- upload Service receiver -->
        <receiver android:name=".client.Image.ImageUploadReceiver">
            <intent-filter>
                <action android:name="com.teamunemployment.breadcrumbs.uploadservice.broadcast.status" />
            </intent-filter>
        </receiver>

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.breadcrumbs.GCM" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->

        <!-- Path sense shit -->
        <receiver android:name=".Location.PathSense.Geofence.BreadCrumbsPathSenseGeofenceEventReceiver" />
        <receiver android:name=".Location.PathSense.Activity.PathsenseActivityChangeBroadcastReceiver" />
        <receiver android:name=".Location.PathSense.Activity.PathsenseActivityUpdateBroadcastReceiver" />
        <receiver android:name=".Location.PathSense.Activity.PathsenseDeviceHoldingBroadcastReceiver" />

        <!-- [START gcm_listener] -->
        <service
            android:name="com.teamunemployment.breadcrumbs.GCM.BreadcrumbsGcmReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->

        <!-- [START instanceId_listener] -->
        <service
            android:name="com.teamunemployment.breadcrumbs.GCM.BreadcrumbsInstanceIdListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name="com.teamunemployment.breadcrumbs.GCM.RegistrationIntentService"
            android:exported="false">
        </service>
        <service android:name=".BootReciever.BootloaderService" android:exported="false"></service>

        <service android:name=".BackgroundServices.StopTrackingIntent" android:exported="false" />

        <activity android:name=".client.TrailManager"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".client.CrumbViewer.CommentViewer"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Trails.EditMyTrail"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".client.ImageChooser.LocalPhotoImageSelector" android:screenOrientation="portrait"></activity>
        <activity android:name=".client.NavMenu.Profile.ProfilePageViewer"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".client.SelectedEventViewerBase"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.teamunemployment.breadcrumbs.client.ImageViewer"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"> <!-- hide keyboard by default -->
        </activity>
        <activity android:name=".client.Home.HomeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".client.Camera.CameraCapture"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".client.BreadCrumbsImageSelector"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".client.CrumbViewer.CrumbsHolder"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.teamunemployment.breadcrumbs.client.tabs.SaveEventFragment"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".client.Maps.MapViewer"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".client.SplashScreen"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".client.ImageChooser.ImageChooserTabWrapper"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".client.Maps.MapHostBase" android:screenOrientation="portrait"></activity>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <activity android:name=".client.Settings"></activity>
        <activity android:name=".client.tabs.SaveVideoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".client.Maps.MapViewController"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".client.UploadTrail" android:screenOrientation="portrait"></activity>

        <activity android:name=".client.NavMenu.Profile.ProfilePicChooser" android:screenOrientation="portrait"/>
        <activity android:name=".client.EditExistingTrail" android:screenOrientation="portrait"/>
        <activity android:name=".client.NavMenu.About" android:screenOrientation="portrait"/>
        <activity android:name=".client.TrailDetailsViewer" android:screenOrientation="portrait"/>
        <activity android:name=".client.StoryBoard.StoryBoardActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".client.ImageChooser.TrailCoverImageSelector" android:screenOrientation="portrait"></activity>

        <activity android:name=".client.TestingVideo"></activity>
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider668335369892920"
            android:exported="true" />
        <receiver android:name="com.teamunemployment.breadcrumbs.Weather.WeatherAlarmReceiver"></receiver>
        <service android:name="com.teamunemployment.breadcrumbs.BackgroundServices.BackgroundService"></service>
        <service android:name="com.teamunemployment.breadcrumbs.BackgroundServices.BackgroundService"></service>

        <!--AIzaSyBQ9w6VrGGquOHwERNrc_jAx_jcm8mrKQw  - this is the legit release one-->
        <!--  AIzaSyBmkUW1b2c3cXhz-Sw7cfWtK41Qz-0aaww -->
        <!--  AIzaSyCy82ucudMrzKRtUsF0S3v_DSVyNL5m9n8
        AIzaSyD1tXj_z3zgxB-5tPG8H9sXS4NCBWAJosA debug 22/04 ?? yes
        A4:0B:0E:F1:E0:AB:A0:FF:3B:E4:C2:8E:D3:71:CA:93:6B:CB:84:70
        AIzaSyCfkLHIJIAnKKwd5S4nLMN5apRtWj28rwc- debug key-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD1tXj_z3zgxB-5tPG8H9sXS4NCBWAJosA"/>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <!-- Pathsense APIs -->
        <meta-data
            android:name="com.pathsense.android.sdk.CLIENT_ID"
            android:value="eokdbRz3bSp5pnKIeclvscXZ4LxtTOc8JfNy0r9h" />

        <meta-data
            android:name="com.pathsense.android.sdk.API_KEY"
            android:value="3sLBJDvIB97xvzeAF6VJD3UqFIQExqRJ2jnmp3JN" /> -->
    </application>

</manifest>
